service firebase.storage {
  match /b/{bucket}/o {
    match /groups/{gid}/public/{allFiles=**} {
      allow read: if true;
      allow write: if gid in request.auth.token.groups;
    }
    match /users/{uid}/public/{allFiles=**} {
      allow read, write: if request.auth.uid == uid;
    }
  }
}
